#root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
}

img {
  width: 30px;
  margin: 15px;
}

.intro > * {
  margin: 20px 0;
}

input {
  height: 60px;
  border-radius: 6px;
  background-image: url(assets/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 25px;
  font-family: "poppins", sans-serif;
}